@import "vars.css";

body{
	background-image: url('../imgs/fundo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(1px) contrast(118%) saturate(44%) hue-rotate(8deg);
	background-attachment: fixed;
}
.irTop{
	background-image: url("../imgs/pagetop.png");
	position: absolute;
	z-index: 10;
	width: 17vh;
	height: 17vh;
	background-position: center;
	background-size: 14vh;
	background-repeat: no-repeat;
	margin: 76vh 0vw 0vh 80vw;
	border-radius: 8vw;
	background-color: var(--corE);
	border: none;
	animation: 1.5s nave linear infinite alternate-reverse backwards;
}
	.irTop:hover{
		cursor: pointer;
		filter: contrast(150%) saturate(150%);
	}
	.sistem{
	    overflow-y: overlay;
	    width: 100vw;
	    height: 100vh;
	}
	.topo{
		background-color: var(--corC);
		width: 100vw;
		padding: 3vh 0vw 0vh 0vw;
		display: flex;
		flex-direction: column;
		height: 6vh;
		border-bottom: 2px solid var(--corE);
		align-items: center;
	}
		.head{
			background-color: var(--Invisible);
			height: 10vh;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 98vw;
		}
			.head .icon{
				background-color: var(--Invisible);
				color: var(--corE);
				font-size: 4vh;
			}
				.head .icon:hover{
					cursor: pointer;
				}
			.login{
				background-color: var(--Invisible);
				display: flex;
				flex-direction: row;
				width: 19vw;
				justify-content: space-around;
				align-items: center;
				height: 100%;
			}
				.login .btn{
					background-color: var(--corD);
					border: none;
					border-radius: 2px;
					padding: 1vh;
					font-family: "Dbfont";
					font-size: 3vh;
					color: var(--corC);
				}
					.login .btn:hover{
						cursor: pointer;
						border: 2px solid var(--corE);
					}
					.login .ent{
						background-color: var(--corB);
					}
		.menu{
			z-index: 2;
			margin-top: 1vh;
			width: 86vw;
			background: var(--corC);
			padding: 2vh;
			border-radius: 0px 0px 2vw 2vw;
			border: 2px solid var(--corE);
			justify-content: space-around;
		}
			.menu .menuA{
				text-decoration: none;
				font-family: 'DbFont';
				color: var(--corD);
				font-size: 4vh;
			}
				.menu .menuA .linkA{
					color: var(--corE);
				}
				.menu .menuA:hover{
					border-bottom: 4px solid var(--corE);
					padding: 0vh 1vw 0vh 1vw;
				}
	.meio{
		width: 99vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;
	}
		.meio .div{
			width: 100vw;
			height: 61vh;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			background-image: url("../imgs/poster.png");
			background-size: 39vw 69vh;
			background-repeat: no-repeat;
			background-position: 63vw -6vh;
			background-color: rgb(0 0 0 / 62%);
			border-bottom: 3px solid var(--corB);
		}
			.meio .div .palagrafy{
				background-color: var(--Invisible);
				width: 37vw;
				height: 35vh;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
				.meio .div .palagrafy .textDiv{
					background-color: var(--Invisible);
					color: var(--corE);
					font-family: 'DbFont';
					font-size: 6vh;
					width: 90%;
					height: 70%;
					word-wrap: break-word;
				}
				.meio .div .palagrafy .btn{
					background-color: var(--corD);
					border: none;
					border-radius: 2px;
					padding: 1vh;
					font-family: "Dbfont";
					font-size: 4vh;
					color: var(--corC);
					width: 31vw;
				}
					.meio .div .palagrafy .btn:hover{
						cursor: pointer;
						border: 2px solid var(--corB);
					}
			.meio .div .bar{
				background-color: var(--corB);
				width: 0.5vw;
				height: 100%;
				margin: 0vh 28vw 0vh 0vw;
				box-shadow: 0px 0px 4px 0px var(--corB);
			}
		.meio .divA{
			width: 100vw;
			height: 65vh;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			border-bottom: 3px solid var(--corB);
		}
			.meio .divA .card{
				background-color: white;
				width: 30vh;
				height: 28vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border-radius: 8px;
				border: 2px solid;
			}
				.meio .divA .card .imgCard{
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					width: 11vw;
					height: 24vh;
					margin-top: -25vh;
				}
					.meio .divA .card:hover .imgCard{
						cursor: grab;
						height: 26vh;
						width: 15vw;
					}
				.meio .divA .card .pCard{
					background-color: var(--Invisible);
					color: var(--corC);
					font-family: Comic Sans MS;
					font-size: 3vh;
					font-weight: bold;
					width: 78%;
					height: 35%;
					cursor: default;
				}
					.meio .divA .card:hover .pCard{
						cursor: grab;
					}
		.meio .divB{
			background-color: var(--corB);
			width: 100vw;
			height: 51vh;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
			.meio .divB .textDivMain{
				background-color: var(--Invisible);
				width: 80vw;
				height: 42vh;
				text-align: center;
				font-family: 'DbFont';
				color: white;
				font-size: 6vh;
				word-wrap: break-word;
			}
	.pe{
		display: flex;
		height: 36vh;
		width: 100vw;
		background-color: var(--corC);
		border-top: 4px solid var(--corE);
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
		.pe .caution{
			display: flex;
			width: 63vw;
			height: 28vh;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}
			.logCaution{
				width: 22vw;
				margin-left: 6vw;
			}
			.pCaution{
				display: flex;
				width: 63vw;
				height: 3vh;
				flex-direction: row;
				color: var(--corE);
				font-family: cursive;
				font-weight: bold;
				font-size: 2vh;
			}
				.pCaution label{
					margin-left: 1vw;
				}
		.pe .privacy{
			display: flex;
			width: 33vw;
			height: 24vh;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-around;
		}
			.pe .privacy .txA{
				color: var(--corA);
				font-family: cursive;
				font-weight: bold;
				text-decoration: none;
			}
				.pe .privacy .txA:hover{
					cursor: pointer;
					border-bottom: 2px solid var(--corA);
				}
.modal{
	display: none;
	width: 49vw;
	height: 76vh;
	position: absolute;
	background-color: white;
	z-index: 11;
	margin-top: 10vh;
	border-radius: 7px;
	border: 4px solid var(--corC);
	box-shadow: 0px 0px 50vw 5vw;
	animation: 0.5s modal linear;
	flex-direction: column;
	align-items: center;
}
	.modal img{
		width: 28vw;
		height: 80vh;
		position: absolute;
		margin: 7vh 53vw 0vh 0vw;
		z-index: 15;
		filter: drop-shadow(10px -14px 6px var(--corB)) saturate(60%);
	}
	.modal .bar{
		width: 2vw;
		height: 20vh;
		background-color: white;
		margin-top: -17vh;
		rotate: 341deg;
		margin-left: -28vw;
		border: 4px solid var(--corC);
		border-bottom: none;
	}
	.iconMdl{
		color: var(--corC);
		font-size: 5vh;
		background-color: white;
		border: 4px solid;
		padding: 2vh 2vw;
		border-radius: 4vw;
		position: absolute;
		margin: -5vh 0vw 0vh 47vw;
	}
		.iconMdl:hover{
			cursor: pointer;
			padding: 3vh 3vw;
		}
	.btnsMdl{
		display: flex;
		width: 30vw;
		height: 7vh;
		margin-top: 5vh;
		justify-content: space-between;
		align-items: center;
	}
		.btnMdl{
			width: 14vw;
			background-color: var(--corC);
			border: none;
			border-radius: 2px;
			padding: 1vh;
			font-family: "Dbfont";
			font-size: 3vh;
			color: white;
		}
			.btnMdl:hover{
				cursor: pointer;
				box-shadow: 4px 4px 1px 0px var(--corB);
			}
	.forms{
		display: flex;
	}
		.criar{
			display: none;
			width: 26vw;
			height: 49vh;
			padding: 2vh;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
			.fotoPerfilInput{
				display: flex;
				width: 19vw;
				height: 17vh;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
			}
				.imgMostragem{
					display: flex;
					width: 6vw;
					height: 10vh;
					background-color: white;
					border-radius: 50px;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
				.fotoPerfilInput label{
					width: 9vw;
					background-color: var(--corC);
					border: none;
					border-radius: 2px;
					padding: 0.5vh;
					font-family: cursive;
					font-size: 2vh;
					color: white;
					text-align: center;
				}
					.fotoPerfilInput label:hover{
						cursor: pointer;
						box-shadow: 4px 4px 1px 0px var(--corB);
					}
			.IntputsTexts{
				display: flex;
				width: 30vw;
				height: 24vh;
				overflow-y: overlay;
				overflow-x: hidden;
				padding: 2vh;
				box-shadow: 0px 0px 3px var(--corC);
				flex-direction: column;
			}
				.InputTextIc{
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 3vh;
					font-size: 2vh;
					font-family: cursive;
					font-weight: bolder;
				}
					.iconInput{
						color: var(--corC);
					}
					.InputText{
						width: 12vw;
						margin-left: 1vw;
						padding-left: 1vw;
						border: none;
						font-family: cursive;
						font-size: 1.5vh;
						color: var(--corC);
						font-weight: bold;
					}
						.InputText:hover{
							cursor: pointer;
							border-bottom: 1px solid var(--corC);
						}
						.InputText:focus{
							background-color: rgba(0 0 0/ 10%);
							border-radius: 3px;
							color: var(--corB);
						}
					.InputDate{
						width: 12vw;
						margin-left: 1vw;
						padding-left: 1vw;
						border: none;
						font-family: cursive;
						font-size: 1.5vh;
						color: var(--corC);
						font-weight: bold;
					}
						.InputDate:hover{
							cursor: pointer;
							border-bottom: 1px solid var(--corC);
						}
						.InputDate:focus{
							background-color: rgba(0 0 0/ 10%);
							border-radius: 3px;
							color: var(--corB);
						}
					.InputLabel{
						color: var(--corA);
						font-size: 1vh;
						width: 8vw;
						margin: 0vh 4vw -4vh -12vw;
					}
				.submitInputUser{
					width: 21vw;
					background-color: var(--corC);
					border: none;
					border-radius: 2px;
					padding: 0.5vh;
					font-family: cursive;
					font-size: 2vh;
					color: white;
					text-align: center;
					margin-top: 1vh;
				}
					.submitInputUser:hover{
						cursor: pointer;
						box-shadow: 4px 4px 1px 0px var(--corB);
					}
		.entrar{
			display: none;
			padding: 2vh;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			width: 30vw;
			height: 26vh;
			margin-top: 9vh;
		}
			.entrar .IntputsTexts{
				width: 16vw;
				height: 12vh;
			}

@keyframes nave{
	0%{
		rotate: 0deg;
		margin-top: 76vh;
	}
	50%{
		rotate: -10deg;
		margin-top: 77vh;
	}
	100%{
		rotate: 10deg;
		margin-top: 75vh;
	}
}

@keyframes modal{
	0%{
		margin-top: -76vh;
	}
	100%{
		margin-top: 10vh;
	}
}