@import "cores.css";
  *{
    margin: 0px;
    padding: 0px;
  }
  /*web-kit*/
    input[type=file]{
      display: none;
    }
    ::-webkit-inner-spin-button{

      -webkit-appearance: none;
    }
    ::-webkit-scrollbar{

      width: 8px;
    }

    ::-webkit-scrollbar-thumb{
      background: rgb(0 0 0 /50%);
      border-radius: 3px;
    }
    .ocultar{
      display: none;
    }
    button:focus, button:focus-visible, input:focus-visible, input:focus, select:focus-visible, select:focus, textarea:focus-visible, textarea:focus{
      outline: none;
    }
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: overlay;
}

@font-face{
  font-family: 'DbFont';
  src: url('../fonts/Sayadin-sans/Saiyan-Sans.ttf') format('truetype');
}